/nbproject/private/
/FifaMundial-ejb/nbproject/private/
/FifaMundial-war/nbproject/private/
/FifaMundial-ejb/build/
/FifaMundial-ejb/dist/
/FifaMundial-war/build/
/FifaMundial-war/dist/
/build/
/dist/